@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes hover {
  from { width: 14rem; height: 14rem;}
  to { width: 15rem; height: 15rem; }
}

@keyframes fontSize {
  from { font-size: 1rem; }
  to { font-size: 1.2rem; }
}

body {
  background-color: cadetblue;
  color: black;
  display: grid;
  grid-template: 4rem 1fr 60px / 1fr 3.5fr 1fr;
  gap: 15px;
}

header {
  background-color: bisque;
  border-radius: 10px;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px 1px;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 5px 1px;
}

label:hover {
  animation: fontSize 0.5s;
  animation-fill-mode: forwards;
}

footer {
  background-color: bisque;
  border-radius: 10px;
  grid-column: span 3;
  display: flex;
  justify-content: center;
  box-shadow: 3px 3px 5px 1px;

  margin-bottom: 10px;
}

aside {
  border-radius: 10px;
  grid-row: 2;
}

fieldset {
  color: white;
  font-size: 1rem;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

fieldset legend {
  font-size: 1rem;
}

aside fieldset input {
  width: auto;
  height: auto;
  margin-right: 15px;
}

main {
  background-color: bisque;
  border-radius: 10px;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18rem);
  grid-auto-columns: 1fr;
  justify-content: space-evenly;
  margin-right: 10px;
  box-shadow: 3px 3px 5px 1px;
}

div {
  background-color: white;
  border-radius: 15px;
  margin: 15px 10px 20px 10px;
  box-shadow: 5px 5px 10px 2px;
  display: flex;
  flex-direction: column;
}

p {
  margin: 1rem;
}

div p {
  text-align: center;
}

.characterName {
  margin-top: 0px;
  align-self: center;
}

.characterStatus_Alive {
  background-color: #aee75b;
  text-align: center;
  border-radius: 10px;
}

.characterStatus_Dead {
  background-color: #f35a5a;
  text-align: center;
  border-radius: 10px;
}

.characterStatus_unknown {
  background-color: #939393;
  text-align: center;
  border-radius: 10px;
}

img {
  width: 14rem;
  height: 14rem;
  margin: 1rem;
  box-shadow: 2px 2px 6px 1px;
  border-radius: 10px;
  align-self: center;
}

img:hover {
  animation: hover 0.7s;
  animation-fill-mode: forwards;
}

.logo_container {
  background-color: cadetblue;
  margin: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 9rem;
  height: 2.8rem;
  border-radius: 30px;
  animation: blink 1.2s ease-in-out 0.4s;
}

.logo:hover {
  animation: none;
}

@media (max-width: 1100px) {
  @keyframes hover {
    from { width: 7rem; height: 7rem;}
    to { width: 8rem; height: 8rem; }
  }

  header {
    font-size: 0.7rem;
  }

  input {
    width: auto;
  }

  fieldset {
    font-size: 0.8rem;
  }

  fieldset legend {
    font-size: 1rem;
  }

  img {
    width: 7rem;
    height: 7rem;
  }

  img:hover {
    animation: hover 0.7s;
    animation-fill-mode: forwards;
  }

  main {
    grid-template-columns: repeat(auto-fill, 10rem);
  }
}

@media (max-width: 600px) {
  @keyframes hover {
    from { width: 5rem; height: 5rem;}
    to { width: 6rem; height: 6rem; }
  }

  body {
    grid-template: 4rem 5rem 15rem 1fr 5rem / 1fr 7fr 1fr;
  }

  header {
    grid-column: span 2;
    font-size: 0.6rem;
  }

  aside {
    grid-row: 3;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  fieldset {
    font-size: 15px;
  }

  fieldset legend {
    font-size: 17px;
  }

  section {
    grid-row: 2;
    grid-column: span 3;
  }

  input {
    width: 20rem;
  }

  div p {
    font-size: 0.7rem;
  }

  img {
    width: 5rem;
    height: 5rem;
  }

  img:hover {
    animation: hover 0.7s;
    animation-fill-mode: forwards;
  }

  main {
    margin-top: 20px;
    grid-row: 4;
    grid-column: span 3;
    grid-template-columns: repeat(auto-fill, 8rem);
  }

  footer p {
    text-align: center;
  }
}

@media (max-width: 400px) {
  fieldset {
    height: 18rem;
  }
}
